label.label1 {
    color: white;
    font-weight: bold;
    font-size: large;
}

button {
    /* If we don't put it, the yellow background won't be visible */
    background-image: none;
}

button.button1:hover {
    transition: 500ms;
    color: red;
    background-color: yellow;
}

label.messageText {
    color: white;
    font-size: medium;
    margin: 5;
}

box.messageReceived {
    background-color: darkslategrey;
    margin: 15;
    padding: 5;
    border-radius: 10px;
}

box.messageSent {
    background-color: purple;
    margin: 15;
    padding: 5;
    border-radius: 10px;
}
